.App {
  font-family: Arial, sans-serif;
  
}

.container {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.product {
  margin: 20px;
  width: 250px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  padding: 20px;
  text-align: center; /* Centers the text inside the product info container */
  display: flex; /* Enables flexbox for centering */
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers children horizontally */
  justify-content: center; /* Centers children vertically */
}


.product-title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.product-price .price-current {
  font-weight: bold;
  color: #333;
}

.product-price .price-original {
  font-weight: bold;
  color: #333;
}

.product-price .price-discount {
  color: #666;
  font-size: 14px;
}

.product-rating {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.product-rating .rating-stars {
  color: #ffd700;
}

.product-rating .rating-count {
  color: #666;
  font-size: 12px;
}
/* Add this to your App.css */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #006992; /* Adds a border with a color */
  border-radius: 8px; /* Makes the button corners slightly rounded */
  background-color: white;
  color: #006992;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition on hover */
}

.pagination button:disabled {
  background-color: white;
  color: #aaa; /* Changes the text color to a gray shade */
  border-color: #006992; /* Changes the border color to a lighter shade */
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #006992; /* Change background color on hover */
  color: white; /* Change text color on hover */
}
/* Add this to your App.css */

.scroll-to-top {
position: fixed;
bottom: 20px;
right: 20px;
}

.scroll-button {
background-color: #001D4A;
color: white;
border: none;
padding: 10px 15px;
border-radius: 50%;
cursor: pointer;
font-size: 20px;
}

.scroll-button:hover {
  background-color: #ffcf41;
}
.buy-now-button {
  display: block; /* Make the button a block element to center it */
  background-color: #FCBD01;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto; /* Centers the button horizontally */
  border-radius: 8px; /* Makes the corners slightly rounded */
  font-size: 16px; /* Optional: adjust the font size as needed */
}

.buy-now-button:hover {
  background-color: #c09000;
}